/**
 * カテゴリーフィルター スタイル
 */

/* =============================================================================
   カテゴリーフィルター
   ============================================================================= */

.category-filter {
    margin-bottom: 5rem;
}

@media (max-width: 768px) {
    .category-filter {
        margin-bottom: 2rem;
    }

    .category-filter-list {
        grid-template-columns: 1fr !important;
        max-width: 100%;
        width: 80%;
        justify-self: center;
        gap: 1.5rem;

    }

    .blog-sec-container {
        padding: 5rem 0 4rem;
    }
}

.category-filter-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    gap: 2.1rem;
    list-style: none;
    padding: 0;
    margin: 0;

}

.blog-sec-container .category-filter-item {
    list-style: none;
}

@media screen and (max-width: 400px) {
    .category-filter-list {
        gap: 5%;
    }
}

.category-filter-item {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 400px) {}

.category-filter-button {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px clamp(16px, 5.2vw, 40px);
    min-width: 100px;
    font-size: clamp(16px, calc(16px + 4 * ((100vw - 769px) / 1151)), 20px);
    font-weight: 700;
    color: #FFFFFF;
    border: 0;
    background-color: #1237C3;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.05em;
    line-height: 35px;
    font-family: var(--font-base);

}

.category-filter-item:nth-child(2) .category-filter-button {
    background-color: #F8B41E;
}

.category-filter-item:nth-child(3) .category-filter-button {
    background-color: #FF3D01;
}

@media screen and (max-width: 400px) {
    .category-filter-button {
        width: 100%;
        min-width: initial;
        padding: 12px clamp(16px, 5.2vw, 40px);
    }
}

.category-filter-button:hover {
    transform: scale(1.03);
    color: green;
}

.category-filter-button.is-active {
    transform: scale(1.03);
}

.category-filter-button.is-active:hover {
    transform: scale(1.03);
    color: #000000;
}

/* フィルタリング結果が0件の場合の表示 */
.category-filter-empty {
    text-align: center;
    padding: 3rem 1rem;
    color: #666;
    font-size: 1rem;
}